* {
  margin: 0;
  padding: 0;
}
.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar a {
  text-decoration: none;
  margin-left: 1rem;
}
.navbar li {
  list-style-type: none;
}
.navbar__logo {
  display: inline-flex;
  flex-grow: 1;
  justify-content: center;
  color: #f4f4f4;
}
.navbar__group {
  margin-left: 16px;
  display: inline-flex;
}
.navbar__group a {
  margin-right: 1rem;
  color: #f4f4f4;
}

.navbar__button {
  margin: 8px 16px 8px 0;
  display: inline-flex;
}

.navbar__button a {
  display: inline-block;
  border: 2px solid #fff;
  padding: 4px 32px;
  border-radius: 100px;
  background-color: #305c86;
  color: #f4f4f4;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header img {
  width: 100%;
}

.main {
  height: 100vh;
}
